<p class="pull-left">
  <a href="{{ root_url }}/">{{ site.title }}</a>
  - Copyright &copy; {{ site.time | date: "%Y" }} - {{ site.author }}
</p>
<p class="pull-right">
  <span>Powered by <a href="http://octopress.org/">Octopress</a>.</span>
  {% unless site.hide_design_credits %}
    <span>Designed by <a href="http://www.AdrianArtiles.com">Adrian Artiles</a>. Original background photo by <a href="http://www.flickr.com/photos/befuddledsenses/7265981394/sizes/k/in/photostream/">Accretion Disc</a></span>
  {% endunless %}
</p>
